a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar {
  background-color: #7159c1b6;
}

.loginmenu {
  background-color: #f00 !important;
}

.nav {
  background-color: #f00 !important;
}

.logo_cdn img {
  width: 80px;
  vertical-align: bottom;
}